<div class="item term-2">
                        	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-7.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-7-big.jpg">
			
				<div class="portfolio-item-overlay"></div>
			
			</a>                                        
			
		</div><!-- end .portfolio-item-preview -->
		
		<a href="portfolio-item.html">
		
			<div class="portfolio-item-description">
				
				<h4>Botle design</h4>
				
				<h5>Concept</h5>
				
			</div><!-- end .portfolio-item-description -->
			
		</a>
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item term-4">
	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-8.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-8-big.jpg">
			
				<div class="portfolio-item-overlay"></div>
				
			</a>
			
		</div><!-- end .portfolio-item-preview -->
		
		<a href="portfolio-item.html">
		
			<div class="portfolio-item-description">
				
				<h4>Clean photo</h4>
				
				<h5>Photography</h5>
				
			</div><!-- end .portfolio-item-description -->
			
		</a>
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item term-3">
	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-9.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-9-big.jpg">
			
				<div class="portfolio-item-overlay"></div>
				
			</a>
			
		</div><!-- end .portfolio-item-preview -->
		
		<a href="portfolio-item.html">
		
			<div class="portfolio-item-description">
				
				<h4>Tags</h4>
				
				<h5>Webdesign</h5>
				
			</div><!-- end .portfolio-item-description -->
			
		</a>
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->
<div class="item term-1">
                        	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-10.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-10-big.jpg">
            
            	<div class="portfolio-item-overlay"></div>
				
			</a>
			
		</div><!-- end .portfolio-item-preview -->
		
        <a href="portfolio-item.html">
        
            <div class="portfolio-item-description">
                
                <h4>Kitchen design</h4>
                
                <h5>Product design</h5>
                
            </div><!-- end .portfolio-item-description -->
            
        </a>
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item term-2">
                        	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-11.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-11-big.jpg">
            
            	<div class="portfolio-item-overlay"></div>
				
			</a>
			
		</div><!-- end .portfolio-item-preview -->
		
		<a href="portfolio-item.html">
        
            <div class="portfolio-item-description">
                
                <h4>Concept car</h4>
                
                <h5>Concept</h5>
                
            </div><!-- end .portfolio-item-description -->
		
        </a>	
	
    </div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item term-3">
                        	
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/370x275-12.jpg" alt="">
			
			<a class="portfolio-item-zoom magnificPopup-gallery" href="_content/portfolio/370x275-12-big.jpg">
            
            	<div class="portfolio-item-overlay"></div>
				
			</a>
			
		</div><!-- end .portfolio-item-preview -->
		
        <a href="portfolio-item.html">
        
            <div class="portfolio-item-description">
                
                <h4>Cards</h4>
                
                <h5>Webdesign</h5>
                
            </div><!-- end .portfolio-item-description -->
            
        </a>
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->